<div class="container">
    <mat-form-field appearance="legacy" style="width:50vw">
        <mat-label>Employee id</mat-label>
        <input matInput placeholder="Enter Employee id">
      </mat-form-field><br>
      <mat-form-field appearance="legacy" style="width:50vw">
        <mat-label>Department id</mat-label>
        <input matInput placeholder="Enter Department id">
      </mat-form-field><br>
    <button mat-raised-button color='primary'>Link Employee to the department</button>
    </div>